@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.heading1 {
    @apply font-semibold
    capitalize
    text-3xl
    h8:text-4xl
    k15:text-5xl
    my-10;
}

.hover{
    scale: 1;
    transition: all;
    transition-duration: 300ms;
}
.hover:hover{
    scale: 1.05;
}

.button{
    width: 10rem;
    color: white;
    border-radius: .25rem;
    padding: .75rem;
    background-color: rgb(86, 86, 86);
    transition: background-color;
    transition-duration: 200ms;
    cursor: pointer;
    border: none;
}
.button:hover{
    background-color: rgb(101, 101, 101);
}
.buttonSecondary,
.button.secondary {
    width: 10rem;
    color: white;
    border-radius: .25rem;
    padding: .75rem;
    background-color: #6c5fa2;
    border: 2px solid rgb(108, 95, 162);
    transition: background-color;
    transition-duration: 200ms;
    cursor: pointer;
}
.buttonSecondary:hover,
.button.secondary:hover {
    background-color: rgb(86, 70, 159);
    color:white;
}


